@import url('https://fonts.googleapis.com/css?family=Baloo+2&display=swap');
body {
    font-family: 'Baloo 2', Arial, sans-serif;
    font-size: 14px;
    color: #303030;
    margin: 0 auto;
    max-width: 800 px;
    
  }
  
  h1,h2,h3 {
    color: green;
    text-align: center;
  }
  
  p {
    font-family: Arial;
    font-size: 20px;
    
  }

  header, footer {
    background: lightskyblue;
    position: relative;
    text-align: center;
  }

  header, header:before, header:after { border-bottom: 1px solid dodgerblue;}
  footer, footer:before, footer:after { border-top: 1px solid dodgerblue;}

  ul#galeria {
    list-style: none;
    padding-left: 0;
  }

  ul#galeria li {
    margin-left: 40px;
    margin-right: 40px;
    
  }

  ul#galeria img {
    width: 100%;
    height: auto;
  }

  @media screen and (min-width: 700px) {
    ul#galeria li {
      margin: 0;
      display: inline-block;
      vertical-align: top;
      width: 33%;
    }
  
    ul#galeria img {
      width: 100%;
      height: auto;
    }
  
  }

  a {
    color: royalblue;
    text-decoration: underline;
    font-weight: bold;
  }

